{% extends 'layout.html.twig' %}

{% block body %}
	<div class="col-md-12">
		{% for project in listProjects %}
			{% if project.id == id %}
				<div class="projectid">
					{% if project.idauthor == user.id %}
						<a href="../deleteproject/{{project.id}}" onclick="return confirm('Are you sure you want to Remove?');" class="delete"><button class="glyphicon glyphicon-remove btn"></button></a>
					{% endif %}
					<h1 class="text-center">
						{{ project.name }}
						{% if project.idauthor == user.id %}
							<a href="../editproject/{{project.id}}"><span class="glyphicon glyphicon-edit"></span></a>
						{% endif %}
					</h1>
					<div class="desc">{{ project.description }}</div>
					<div>
						Personnes inscrites au projet :
						<ul>
						{% for user in listUser %}
							{% for users in listUsers %}
								{% if users.idProject == project.id %}
									{% if users.idUser == user.id %}
										<li>
											{{ user.username }}
											<a href="../deleteusers/{{users.id}}" onclick="return confirm('Are you sure you want to Remove?');" ><button class="glyphicon glyphicon-remove"></button></a>
										</li>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endfor %}
						</ul>
					</div>
					{% if project.idauthor == user.id %}
						<button onclick="addForm()" class="btn btn-success" title="Ajouter une nouvelle catégorie">
							<span class="glyphicon glyphicon-plus"></span> Nouvelle catégorie
						</button><br/>
					{% endif %}
					{% if project.idauthor == user.id %}
						<button onclick="addUser()" class="btn btn-success" title="Ajouter un membre au projet">
							<span class="glyphicon glyphicon-user"></span> Nouvel utilisateur
						</button>
						<div id="adduser">
							<ul>
								{% for users in listUser %}
									{% if users.id != user.id %}
										<li><a href="../adduserproject/{{project.id}}/{{users.id}}"/>{{ users.username }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					{% endif %}
					<div id="addform" class="form">
						<hr/>
						{{ form_start(form) }}
						{{ form_widget(form) }}
						{{ form_end(form) }}
					</div>
				</div>
			{% endif %}
	{% endfor %}
	</div>
	<div class="col-md-12">
		<h3 class="text-center">Liste des sous-projets liés à ce projet</h3>
		{% for subproject in listSubProjects %}
			{% if subproject.idproject == id %}
			<a href="../subproject/{{subproject.id}}">
				<div class="project col-md-3">
					<h1 class="text-center">{{ subproject.name }}</h1>
					<div class="desc">{{ subproject.description }}</div>
				</div>
			</a>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}


